@tailwind base;
@tailwind components;
@tailwind utilities;

 /* body {
  background-color: #333;
  color: #f2f2f2;
} */

@keyframes pulse-border {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }
  /* @media (prefers-color-scheme: dark) */
  @media (prefers-color-scheme: light) {
    @keyframes pulse-border {
      0% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
      }
      100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
      }
    }
  }
  
  .pulse-once {
    animation: pulse-border 500ms ease-out;
  }